<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <!-- <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p> -->
<!-- 增加<select>元素，并绑定到 $ctrl.orderProp（数据模型），用户可以从两个选项中进行选择。而orderBy又以$ctrl.orderProp为依据，这样选定的选项就会成为排序依据。
这种双向数据绑定，可以让数据变化及时反映到视图中，且不需要指定DOM操作。
orderBy连接了filter，过滤后的数据才会输入orderBy进行排序。orderBy的工作原理是，复制输入的数组、进行排序、输出。 -->

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>Alphabetical

      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <span>{{phone.name}}</span>
          <p>{{phone.snippet}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
